.navbar-items {
    background-color: rgb(53, 53, 53);
    color: whitesmoke;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    position: fixed;
    z-index: 5;
    width: 100%;
    opacity: 90%;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 8px;
    list-style: none;
    text-align: center;
    width: 100vw;
    justify-content: center;
    color: whitesmoke;
}

.name {
    white-space: nowrap;
}

.name-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}